/*.footer {
  background-color: slategray;
}
.footer h1 {
color: white;
}
.footer ul.f-nav li a {
    color: white;
}
.footer p {
    color: white;
}

.news-list span {
  color: white;
}


button.newslatter {
  background-color: darkslateblue;
}



.footer-bottom{
  background-color: black;
}
.footer-bottom span{
    color: white;
  }
.fa{
  color: white;
}*/
