<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h3>About us</h3>
        <div class="border"></div>
        <p>
          Lorem ipsum dolor sit amet, consecttuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>Useful links</h3>
        <div class="border"></div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled f-nav">
              <li><a href="#">About us </a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Testimonials</a></li>
            </ul>
          </div>
          <div class="col-sm-6 no-padding">
            <ul class="list-unstyled f-nav">
              <li><a href="#">Team</a></li>
              <li><a href="#">Latest Work</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>Latest Post</h3>
        <div class="border"></div>
        <ul class="list-unstyled news-list">
          <li class="clearfix">
            <a href="#">
              <img src="dist/images/thumb1.jpg" alt="" width="70">
            </a>
            <div class="o-hidden">
              <h5>Aenean leo ligula, porttitor eu, consequat vitae</h5>
              <span>30 May, 2016</span>
            </div>
          </li>
          <li class="clearfix">
            <a href="#">
              <img src="dist/images/thumb2.jpg" alt="" width="70">
            </a>
            <div class="o-hidden">
              <h5>Aenean leo ligula, porttitor eu, consequat vitae</h5>
              <span>28 May, 2016</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>Newsletter</h3>
        <div class="border"></div>
        <form>
          <input type="text" class="form-control" placeholder="Enter Email...">
          <button class="newslatter"><i class="fa fa-arrow-right"></i></button>
        </form>
        <p>
          <small>
            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          </small>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-8">
          <span>Copyright © 2016-2017 BOOSTER WP-THEME. All rights reserved.</span>
        </div>
        <div class="col-md-5 col-sm-4 text-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
