
<div class="main-color">
  <div class="container">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12" style="margin-top: 40px; margin-bottom: 20px">
          <a href="/1/home1">
            <img src=".\assets\stock-logo-for-recycle-management.png" class="img-responsive d-block mx-auto" alt="Lights" style="width:18%">
          </a>
        </div>
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="theme1/home/1"><span class="custom-text-white">Navbar</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto custom">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/theme1/home/1"><span class="custom-text-white">Home</span><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/theme1/about/1"><span class="custom-text-white">About</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/theme1/contact/1"><span class="custom-text-white">Contact</span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
