
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-expand-lg  navbar-toggleable-md navbar-light navbar-transparent nav-sticky nav-stick-top green-border">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="theme6/3"><img src="/assets/theme6assets/images/logo.png" alt=""></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto scroll-to">
          <li class="dropdown mega-dropdown active nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home </a>
            <ul class="dropdown-menu mega-dropdown-menu">
              <li class="container mega-dropdown-inner">
                <div class="row list-unstyled">
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="theme6/1">Option1 : Business1</a></li>
                      <li><a href="theme6/2">Option2 : Business2</a></li>
                      <li><a href="theme6/3">Option3 : Business3</a></li>
                      <li><a href="theme6/4">Option4 : Business4</a></li>
                      <li><a href="index5.html">Option5 : Business5</a></li>
                      <li><a href="index6.html">Option6 : Business6</a></li>
                      <li><a href="index10.html">Option7 : Blog</a></li>
                      <li><a href="app-landing.html">Option8 : App Landing</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="car-dealer.html">Option9 : Car-Dealer</a></li>
                      <li><a href="charity.html">Option10 : Charity</a></li>
                      <li><a href="construction.html">Option11 : Construction</a></li>
                      <li><a href="coupons.html">Option12 : Coupons-Deals</a></li>
                      <li><a href="ecommerce.html">Option13 : Ecommerce</a></li>
                      <li><a href="education.html">Option14 : Education</a></li>
                      <li><a href="event.html">Option15 : Event</a></li>
                      <li><a href="gym.html">Option16 : Gym</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="hosting.html">Option17 : Hosting</a></li>
                      <li><a href="job-portal.html">Option18 : Job-Portal</a></li>
                      <li><a href="lawyer.html">Option19 : Lawyer</a></li>
                      <li><a href="medical.html">Option20 : Medical</a></li>
                      <li><a href="model.html">Option21 : Model</a></li>
                      <li><a href="music.html">Option22 : Music-Band</a></li>
                      <li><a href="photographer.html">Option23 : Photographer</a></li>
                      <li><a href="portfolio.html">Option24 : Portfolio</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="profile1.html">Option25 : Portfolio2</a></li>
                      <li><a href="real-state.html">Option26 : Real-State</a></li>
                      <li><a href="resturent.html">Option27 : Resturent</a></li>
                      <li><a href="spa.html">Option28 : Spa</a></li>
                      <li><a href="sport.html">Option29 : Sport</a></li>
                      <li><a href="travel.html">Option30 : Travel</a></li>
                      <li><a href="weeding.html">Option31 : Weeding</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About </a>
            <ul class="dropdown-menu">
              <li><a href="about01.html">Option1 : About01</a></li>
              <li><a href="about02.html">Option2 : About02</a></li>
              <li><a href="about03.html">Option3 : About03</a></li>
            </ul>
          </li>
          <li class="dropdown mega-dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elements </a>
            <ul class="dropdown-menu mega-dropdown-menu">
              <li class="container mega-dropdown-inner">
                <div class="row list-unstyled">
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="accordian.html">Accordion</a></li>
                      <li><a href="buttons.html">Buttons</a></li>
                      <li><a href="card.html">Cards</a></li>
                      <li><a href="counter.html">Counter</a></li>
                      <li><a href="seprator.html">Seprators</a></li>
                      <li><a href="slider.html">Slider</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="footer.html">Footer</a></li>
                      <li><a href="features.html">Features</a></li>
                      <li><a href="header.html">Header</a></li>
                      <li><a href="heading.html">Heading</a></li>
                      <li><a href="testimonial.html">Testimonials</a></li>
                      <li><a href="team.html">Team</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="icon-box.html">Icon Box</a></li>
                      <li><a href="list-icon.html">List Icon</a></li>
                      <li><a href="map.html">Map</a></li>
                      <li><a href="tabs.html">Tabs</a></li>
                      <li><a href="timeline.html">Timeline</a></li>
                      <li><a href="image-box.html">Image-box</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="portfolio2.html">Portfolio</a></li>
                      <li><a href="pricing.html">Pricing</a></li>
                      <li><a href="progress-bar.html">Progress Bar</a></li>
                      <li><a href="partner.html">Partners</a></li>
                      <li><a href="video.html">Video</a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown mega-dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
            <ul class="dropdown-menu mega-dropdown-menu">
              <li class="container mega-dropdown-inner">
                <div class="row list-unstyled">
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="blog-col-1.html">Blog-col-1</a></li>
                      <li><a href="blog-col-2.html">Blog-col-2</a></li>
                      <li><a href="blog-col-3.html">Blog-col-3</a></li>
                      <li><a href="blog-col-4.html">Blog-col-4</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="blog-mas-2.html">Blog-mas-2</a></li>
                      <li><a href="blog-mas-3.html">Blog-mas-3</a></li>
                      <li><a href="blog-mas-4.html">Blog-mas-4</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="blog-fullwidth.html">Blog-fullwidth</a></li>
                      <li><a href="blog-lsidebar.html">Blog-lsidebar</a></li>
                      <li><a href="blog-rsidebar.html">Blog-rsidebar</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <ul class="list-unstyled mega-menu-item">
                      <li><a href="blog-single.html">Blog-single</a></li>
                      <li><a href="blog-single2.html">Blog-single2</a></li>
                      <li><a href="bsidebar.html">Both-sidebar</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages </a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Service</a>
                <ul class="dropdown-menu">
                  <li><a href="service01.html">Service01</a></li>
                  <li><a href="service02.html">Service02</a></li>
                  <li><a href="service03.html">Service03</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Contact</a>
                <ul class="dropdown-menu">
                  <li><a href="contact01.html">Contact01</a></li>
                  <li><a href="contact02.html">Contact02</a></li>
                  <li><a href="contact03.html">Contact03</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown nav-item">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" aria-expanded="false"><i class="fa fa-search"></i></a>
            <ul class="dropdown-menu top-search">
              <li>
                <form>
                  <input type="text" class="form-control" placeholder="Type &amp; hit enter">
                </form>
              </li>
            </ul>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i></a>
            <ul class="dropdown-menu dropdown-cart">
              <li>
                <span class="item">
                  <span class="item-left">
                    <img src="dist/images/partner-h.jpg" width="70" height="70" alt="" class="img-respponsive">
                    <span class="item-info">
                      <h5>Item name</h5>
                      <span>23$</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs pull-right">x</button>
                  </span>
                </span>
                <span class="item">
                  <span class="item-left">
                    <img src="dist/images/partner-h.jpg" width="70" height="70" alt="">
                    <span class="item-info">
                      <h5>Item name</h5>
                      <span>23$</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs pull-right">x</button>
                  </span>
                </span>
                <span class="item">
                  <span class="item-left">
                    <img src="dist/images/partner-h.jpg" width="70" height="70" alt="">
                    <span class="item-info">
                      <h5>Item name</h5>
                      <span>23$</span>
                    </span>
                  </span>
                  <span class="item-right">
                    <button class="btn btn-xs pull-right">x</button>
                  </span>
                </span>
                <div class="clearfix"></div>


                <a href="#" class="checkout-btn">Checkout</a>



                <div class="clearfix"></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
