#bottom {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(15, 44, 96);
}

#bottom2 {
  position: relative;
  bottom: 3%;
  left: 0;
  width: 100%;
  text-align: center;
}
