	<!-- Main -->
<main class="main" role="main">
  <!-- Content -->
  <div class="content static">
    <!-- Wrapper -->
    <div class="wrap">
      <div class="row">
        <!-- ThreeFourth -->
        <div class="three-fourth">
          <div class="row">
            <!-- Item -->
            <article class="one-half hentry">
              <figure><a href="blog-single.html"><img src="/assets/theme5assets/uploads/img.jpg" alt="image" /></a></figure>
              <div>
                <div class="text">
                  <h3><a href="blog-single.html">Taiwan Int’l Boat Show 2014 a Resounding Successful event not to miss</a></h3>
                  <div class="meta">
                    <span>By <a href="#">admin</a></span>
                    <span>May 23rd, 2016</span>
                    <span><a href="blog-single.html#comments">2 Comments</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in </p>
                  <a href="blog-single.html" class="more" title="Read more">Read more</a>
                </div>
              </div>
            </article>
            <!-- //Item -->
            <!-- Item -->
            <article class="one-half hentry">
              <figure><a href="blog-single.html"><img src="/assets/theme5assets/uploads/img.jpg" alt="image" /></a></figure>
              <div>
                <div class="text">
                  <h3><a href="blog-single.html">Sailor Awarded Outstanding Sailing School and Outstanding Instructor Award</a></h3>
                  <div class="meta">
                    <span>By <a href="#">admin</a></span>
                    <span>May 23rd, 2016</span>
                    <span><a href="blog-single.html#comments">2 Comments</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in </p>
                  <a href="blog-single.html" class="more" title="Read more">Read more</a>
                </div>
              </div>
            </article>
            <!-- //Item -->
            <!-- Item -->
            <article class="one-half hentry">
              <figure><a href="blog-single.html"><img src="/assets/theme5assets/uploads/img.jpg" alt="image" /></a></figure>
              <div>
                <div class="text">
                  <h3><a href="blog-single.html">New Yacht Charter Bases in St. Lucia and Belize</a></h3>
                  <div class="meta">
                    <span>By <a href="#">admin</a></span>
                    <span>May 23rd, 2016</span>
                    <span><a href="blog-single.html#comments">2 Comments</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in </p>
                  <a href="blog-single.html" class="more" title="Read more">Read more</a>
                </div>
              </div>
            </article>
            <!-- //Item -->
            <!-- Item -->
            <article class="one-half hentry">
              <figure><a href="blog-single.html"><img src="/assets/theme5assets/uploads/img.jpg" alt="image" /></a></figure>
              <div>
                <div class="text">
                  <h3><a href="blog-single.html">Fleet Expansion:<br />New Arrival - Maiora 29</a></h3>
                  <div class="meta">
                    <span>By <a href="#">admin</a></span>
                    <span>May 23rd, 2016</span>
                    <span><a href="blog-single.html#comments">2 Comments</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in </p>
                  <a href="blog-single.html" class="more" title="Read more">Read more</a>
                </div>
              </div>
            </article>
            <!-- //Item -->
            <!-- Item -->
            <article class="one-half hentry">
              <figure><a href="blog-single.html"><img src="/assets/theme5assets/uploads/img.jpg" alt="image" /></a></figure>
              <div>
                <div class="text">
                  <h3><a href="blog-single.html">Pros and Cons:<br />One Way Charter experience</a></h3>
                  <div class="meta">
                    <span>By <a href="#">admin</a></span>
                    <span>May 23rd, 2016</span>
                    <span><a href="blog-single.html#comments">2 Comments</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in </p>
                  <a href="blog-single.html" class="more" title="Read more">Read more</a>
                </div>
              </div>
            </article>
            <!-- //Item -->
            <!-- Item -->
            <article class="one-half hentry">
              <figure><a href="blog-single.html"><img src="/assets/theme5assets/uploads/img.jpg" alt="image" /></a></figure>
              <div>
                <div class="text">
                  <h3><a href="blog-single.html">Bavaria Cruiser 37:<br /> On Top In The Class Under 40 Feet</a></h3>
                  <div class="meta">
                    <span>By <a href="#">admin</a></span>
                    <span>May 23rd, 2016</span>
                    <span><a href="blog-single.html#comments">2 Comments</a></span>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in </p>
                  <a href="blog-single.html" class="more" title="Read more">Read more</a>
                </div>
              </div>
            </article>
            <!-- //Item -->

            <div class="pager2 full-width">
              <a href="#">1</a>
              <span>2</span>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
            </div>
          </div>
        </div>
        <!-- //ThreeFourth -->
        <!-- OneFourth -->
        <aside class="one-fourth sidebar sidebar-right">
          <div class="widget">
            <h3>Search the blog</h3>
            <div class="search">
              <input type="search" id="search" placeholder="Enter your search term" />
              <a href="#" class="searchsubmit" title="Search"><span class="icojam_search"></span></a>
            </div>
          </div>

          <div class="widget">
            <h3>Categories</h3>
            <ul class="nobullet">
              <li><a href="#" title="Events">Events</a></li>
              <li><a href="#" title="Luxury yachts">Luxury yachts</a></li>
              <li><a href="#" title="Charter yachts">Charter yachts</a></li>
              <li><a href="#" title="Sales">Sales</a></li>
              <li><a href="#" title="Management">Management</a></li>
            </ul>
          </div>

          <div class="widget">
            <h3>Latest posts</h3>
            <ul class="latest-posts">
              <li>
                <a href="#">
                  <img src="uploads/img.jpg" alt="" width="90" />
                  <h4>Lorem ipsum dolor Sit amet</h4>
                  <span class="date">June 13, 2014</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/theme5assets/uploads/img.jpg" alt="" width="90" />
                  <h4>Lorem ipsum dolor Sit amet</h4>
                  <span class="date">June 13, 2014</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/theme5assets/uploads/img.jpg" alt="" width="90" />
                  <h4>Lorem ipsum dolor Sit amet</h4>
                  <span class="date">June 13, 2014</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/theme5assets/uploads/img.jpg" alt="" width="90" />
                  <h4>Lorem ipsum dolor Sit amet</h4>
                  <span class="date">June 13, 2014</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/theme5assets/uploads/img.jpg" alt="" width="90" />
                  <h4>Lorem ipsum dolor Sit amet</h4>
                  <span class="date">June 13, 2014</span>
                </a>
              </li>
            </ul>
          </div>

          <div class="widget">
            <h3>A text widget</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation  commodo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed </p>
          </div>

          <div class="widget">
            <h3>Find us on Facebook</h3>
            <div class="fb-like-box" data-href="https://www.facebook.com/themeenergy" data-width="270" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
          </div>

          <div class="widget">
            <h3>Advertisment</h3>
            <p><a href="#"><img src="/assets/theme5assets/uploads/broker.jpg" alt="" /></a></p>
          </div>
        </aside>
        <!-- //OneFourth -->
      </div>
    </div>
    <!-- //Wrapper -->
  </div>
  <!-- //Content-->
</main>
<!-- //Main -->
<!-- Testimonials -->
<section class="testimonials">
  <div class="wrap center">
    <h6>WOW – This is the Best Theme I have ever seen.</h6>
    <p>“Excellent - you found the right boat in the right place at the right time,<br /> and managed to change the dates for our convenience - brilliant!” </p>
    <p>- Johnatan Davidson</p>
  </div>
</section>
<!-- //Testimonials -->
<!-- Bottom Sidebar -->
<aside class="sidebar bottom white" role="complementary">
  <!-- Wrapper -->
  <div class="wrap">
    <div class="row">
      <h2>Have questions? Get in touch. </h2>
      <!-- OneFourth -->
      <div class="one-fourth">
        <h5>Mediterranean base</h5>
        <p><span class="circle small"><i class="fa fa-phone fa-fw"></i></span> + 385 91 555 555</p>
        <p><span class="circle small"><i class="fa fa-envelope fa-fw"></i></span> <a href="mailto:mediterranean@office.com">mediterranean@office.com</a></p>
      </div>
      <!-- //OneFourth -->
      <!-- OneFourth -->
      <div class="one-fourth">
        <h5>South Pacific base</h5>
        <p><span class="circle small"><i class="fa fa-phone"></i></span> + 021 1 555 555</p>
        <p><span class="circle small"><i class="fa fa-envelope"></i></span> <a href="mailto:southpacific@office.com">southpacific@office.com</a></p>
      </div>
      <!-- //OneFourth -->
      <!-- OneFourth -->
      <div class="one-fourth">
        <h5>Caribbean base</h5>
        <p><span class="circle small"><i class="fa fa-phone"></i></span> + 33 44 555 555</p>
        <p><span class="circle small"><i class="fa fa-envelope"></i></span> <a href="mailto:caribbean@office.com">caribbean@office.com</a></p>
      </div>
      <!-- //OneFourth -->
      <!-- OneFourth -->
      <div class="one-fourth">
        <h5>USA base</h5>
        <p><span class="circle small"><i class="fa fa-phone"></i></span> + 1 555 555 555</p>
        <p><span class="circle small"><i class="fa fa-envelope"></i></span> <a href="mailto:unitedstates@office.com">unitedstates@office.com</a></p>
      </div>
      <!-- //OneFourth -->
    </div>
  </div>
  <!-- //Wrapper -->
</aside>
<!-- //Bottom Sidebar -->
