
@media(max-width:1199px){
.fact-box4 i{
    margin-right: 8px;
}
.navbar-default .nav>li>a {
    padding: 25px 25px;
}
.choose_us .choose_right{}
.video_title {
    padding: 10px 0 0;
}
.call_us bold{ font-size: 50px;}
.feature_block h6, .project_text h3{
    font-size: 17px;
}
.project li img {
    margin-right: 0px;
}
.service_title {
    padding-top: 0px;
}
.contact_info .title{
    margin-bottom: 0px;
}
.header-v4 .navbar-default .nav>li>a {
    padding: 30px 15px;
}
.header10 .navbar-default .nav>li>a {
    padding: 27px 18px;
}
.choose_right .feature_block {
    margin-bottom: 0;
}
.master_shape img{
    margin-top: -50px;
    margin-left: -17px;
}
.block_detail span{
    margin-right: 21px;
    padding-right: 21px;
}
.block_holiday h1 .project_text p, .block_holiday h1{
    font-size: 14px;
}
.project_text p{
    font-size: 14px;
    padding: 0px;
}
.gym_newslatter a{
    right: 15px;
    bottom: 102px;
}
.yoga_time span.text-right {
    padding-left: 70px;
}
.masonry-right button, html input[type=button], input[type=reset], input[type=submit]{
    bottom: 653px;
}
.masonry-tag{
    bottom: 280px;
}
.spa-service .feature_block {
    margin-bottom: 23px;
}
.join-title h1{
    font-size: 45px;
}
.title h1, section.launch_theme .title h5{
    font-size: 35px;
}
.right-col{
    padding-bottom: 248px;
}
.fact-box i{
    margin-right: 10px;
}
tab_testi .nav>li>a{
    padding: 10px 15px;
}
.master5 img {
    margin-top: -30px;
}
.master_para6, .master_head6, .master_agency{
    margin-left: 90px !important;
}
.mastet6_border,  .mastet6_btn{
    margin-left: 90px !important;
    margin-top: 50px !important;
}
.right-panel {
    padding-top: 40px;
}
.bs-wizard {
    margin-top: 0px;
}
.construction-tab .tab-content img{
    padding-top: 40px;
}
.course-tab button.btn-default {
    padding: 12px 0px;
    font-size: 11px;
}
.team-bg {
    background: url(../images/Education/team-bg.jpg) no-repeat -4% -52%;
}
.profile-text h6, .profile-text b{font-size: 80px;
}
.date{
   width: 22%;
}
.event-block{
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 60px;
}
.border-image:before{
    height: 65%;
}
.border-image span:after{
    right: 24px;
    bottom: 19px;
}
.sport_block bold{
    font-size: 25px;
}
.sponser-head H4{
    font-size: 32px;
}
.white-bg span{
    font-size: 11px;
}
.phone4{
    right: 0;
}
.play-store{
    margin-left: 30px;
}
.play-store span{
    font-size: 13px;
}
.master-apple span{
    font-size: 13px;
}
.play-store span b{
    font-size: 17px;
}
.master-apple span b{
     font-size: 17px;
}
.right-content{
    max-width: 470px;
}
#wrapper{
    right: 110px;
}
.fact-box.col-md-3{
    margin-right: 15px;
}
.singup{
    bottom: 190px;
}

.Schedule .nav-tabs > li > a{
    padding: 10px 15px;
}
.team-contact .team-detail h5{
    font-size: 45px;
}
.tab-block1 h1{
    font-size: 18px;
}
.tab-block1 h2{
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.master-bg b{
    font-size: 22px;
}
.search-btn{
    padding: 17px 24px;
}
ul.check-in li{
    padding-left: 0px;
    padding-right:0px;
}
.featured .master-bg{
    padding-top: 10px;
}
.Vehicles .block_detail span {
    padding-left: 11px;
    padding-right: 11px;
}
.time{
    top: 32%;
}
.Vehicles .time {
    top: 24%;
}
.fashion-overlay{
    bottom: 50px;
}
.accesories:before{
    width: 30%;
    top: 35%;
}
.master-img img {
    position: relative;
    right: -30px;
}
.master-banner h4 strong, .model-head, .widget h5{
    font-size: 60px;
}
a.form-btn{
    padding: 17px 14px;
}
.flex-right bold, .cta h3{
    font-size: 30px;
}
.mobile-app .master-apple{
    padding: 10px 10px 10px 10px;
}
.mobile-app .play-store{
    padding: 10px 10px 10px 10px;
}
}
@media(max-width:991px){
.logo_center #navbar {
   
   height:auto;
       margin-top: 30px;
    background: #fff;
        float: left !important;
}
.logo_center .navbar-header{text-align:left;}
.header10 .logo_center {
    margin: 0px 0 0px;
    width: 100%;
}

.logo_center img {
    display: inherit;
    margin: auto;
    width: 140px;
}



.navbar-default  .navbar-nav>li>.dropdown-menu{
    background-color: #fff;
}
.navbar-default.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}
.mega-dropdown-inner .col-sm-3 {
    padding-left: 10px;
}
.navbar-default .nav>li>a{
    padding: 12px 18px;
}
.navbar-brand>img{
    margin-left: 15px;
}
.navbar-nav{
    margin-top: 15px;
    margin-bottom: 0;
}

.navbar-default .fixed-top .navbar-nav>li>.dropdown-menu {
    margin-top: 0px;
  
}
#sidebar-wrapper {
   
    overflow: scroll;
    }
.hamburger {
    outline: none;
    margin-top: -40px;
}
.navbar-default .fixed-top .nav>li>a
{
text-align:left;
}
.fixed-top .sidebar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    border-radius: 0;
    max-height: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    display:none;
}
.sidebar-nav li:before{background-color:#fff;}
.sidebar-wrapper{ overflow-y: scroll;
    overflow-x: hidden;}

.container{width:100%;}
.logo_center .navbar-nav{text-align:left; float:left !important;}
.navbar-default .dropdown-menu > li > a {
 
    border-bottom: 0px solid #eee;
  
}
.menu-filter-list{width:auto !important;}
	.navbar-default .navbar-nav>li>.dropdown-menu
	{
		display:block;
		position:relative;
		width:100%;
		border:none;
	}
	 .green-border .navbar-nav > li > a {
    color: #00a651 !important;
    background: transparent;
    border-bottom: solid 2px #00a651 !important;
	    float: left;
    width: 100%;
}
	.mega-dropdown-menu .mega-dropdown-inner {
    background: #fff;
    border: 0px solid #ccc;
    overflow: hidden;
}
	.navbar-default .nav>li>a {
    padding: 29px 25px;
    border-bottom: solid 0px transparent;
}
	.mega-dropdown-menu .mega-dropdown-inner .mega-menu-item > li > a {
   
    border-bottom: solid 0px #eee;
  
}

.main_content {
    padding-left: 0px;
}
.left-menu .navbar-default .navbar-nav>li>.dropdown-menu
	{
		display:block;
		position:relative;
		width:100%;
		border:none;
		    margin-top: 0px;
    overflow: visible;
        height: auto;
	}
	 
	.left-menu .mega-dropdown-menu .mega-dropdown-inner {
    background: #fff;
    border: 0px solid #ccc;
    overflow: hidden;
}
	.left-menu .navbar-default .nav>li>a {
    padding: 29px 25px;
    border-bottom: solid 0px transparent;
}
	 .left-menu .mega-dropdown-menu .mega-dropdown-inner .mega-menu-item > li > a {
   
    border-bottom: solid 0px #eee;
  
}

.left-menu .logo {
    padding: 10px 15px;
    }
.left-menu .navbar-light .navbar-toggler{margin-top:-46px;}
.navbar-toggleable-md>.container {
    padding-right: 0;
    padding-left: 0;
    width: 92%;
}
.navbar-brand {
    padding: 0px 0px;
    height: auto;
}
.navbar-toggler {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: .20rem .55rem;
    font-size: 1.05rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.nav>li>a {
    padding: 29px 4px 0;
}
ul.dropdown-menu.mega-dropdown-menu {
    margin-top: 0px !important;
}
.logo_center #navbar {
    margin-left: 0px;
}
.info h2{
    padding-bottom: 35px;
}
a.Shop-btn1{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
a.checkout-btn{
    display: block;
    text-align: center;
}
.hospital img, .services img{
    width: 100%;
    margin-bottom: 30px;
}
.border-image img, .program_block  img, .news-block img{
    width: 100%;
}
.border-image:before {
    height: 75%;
}
.border-image span:after {
    right: 36px;
    bottom: 23px;
}
.Vehicles .time {
    top: 55%;
}
.confrence-detail span{
    letter-spacing: 1px;
}
.volunter, .team_member .team_desc {
    margin-bottom: 30px;
}
.columns{
    margin-bottom: 30px;
}
.desc2 {
    margin-bottom: 15px;
}
.desc4 {
    margin-bottom: 15px;
}
.desc5 {
    margin-bottom: 15px;
}
.desc6 {
    margin-bottom: 15px;
}
.desc3 {
    margin-bottom: 15px;
}
.navbar-default .nav>li>a {
    padding: 30px 28px;
}
.card .nav>li>a {
    padding: 29px 15px;
} 
.logo_center .nav>li>a {
    padding: 28px 15px;
}
.homev4 .team_desc {
    margin-bottom: 30px;
}
.project li img {
    margin-right: 17px;
}
ul.unstyled2 li{
    padding-bottom: 10px;
}
section.team_member img{
    width: 100%;
}
.about_company img{
    width: 100%;
    margin-bottom: 35px;
}
.about_company .margin50{
    height:  0px;
}
.footer .col-md-9{margin-top: 20px;
}
.work{
     padding: 13px 15px;
}
.project img{
    width:100%;
}
.comments ul li {
    padding-right: 6px;
}
.right_panel img{
    width: 100%;
}
.video_title{
    margin-bottom: 30px;
    margin-top: 20px;
}
.feature_block {
    margin-bottom: 30px;
}
.fact-box{
    margin-bottom: 25px;
}
.project{
    margin-bottom: 25px;
}
.main_content section.video.words img{
    margin-bottom: 30px;
}
.attorney_right {
    padding-top: 40px;
}
.rule{
    padding-bottom:30px;
}
.area {
    margin-bottom:30px;
}
.area img{
    width:100%;
}
.choose_right {
    padding: 25px 0;
}
.navbar-right{
    float: none !important;
}
.title_master img {
    width: 250px;
}
.holiday img{
    width: 100%;
}
.time{
    top: 60%;
}
.block_holiday {
    margin-bottom: 30px;
}
.out_gallery img {
    width: 100%;
}
.client img {
    display: block;
    margin: 0 auto;
}
.client {
    margin-bottom: 25px;
}
.yoga_time span.text-right {
    padding-left: 7px;
}
.yoga_time i {
    padding-right: 0;
}
.program_text {
    padding: 9px;
}
.gym_newslatter a {
    right: 0px;
    bottom: 0px;
    position: relative;
}
.gym_newslatter p{
    padding-top: 25px;
}
.box img{
    width: 100%;
}
.masonry_creative{
    background-size: 100%;
}
.masonry-right button, html input[type=button], input[type=reset], input[type=submit] {
    bottom: 1044px;
}
.spa-gallery img{
    width:100%;
}
.spa-features, .reserve .col-md-8 {
    padding-bottom: 30px;
}
.volunter, .project_text p{
    padding: 15px;
}
.education img{
    width: 100%;
}
.edu-block{
    margin-bottom: 30px;
}
.navbar-header {
    float: none;
}

.navbar-brand>img{
    margin: 0 auto;
}
.master5 img {
    margin-top: -60px;
}
.master_shape img {
    margin-top: 15px;
    margin-left: 30px;
    width: 300px;
}
.discount h5{
    line-height: 35px;
}
.header10 .navbar-default .nav>li>a {
       padding: 12px 18px;
    text-align: left;
}
.right-panel {
    padding-top: 20px;
}
.john {
    margin-left: -40px;
}
a.table-btn{
    padding: 10px 20px;
}
.dishes .item img {
    width: 100%;
    padding-bottom: 30px;
}
.construction-block img {
    padding-top: 40px;
}
.tab-construction{
    padding-bottom: 70px;
}
.course-box img{
    width: 100%;
}
.course-tab button.btn-default {
    padding: 12px 20px;
}
.left-image img{
    width: 100%;
    padding-bottom: 30px;
}
.date {
    width: 35%;
}
.contact-me form {
    padding-top: 0px;
}
.project-box .project-overlay h4 {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0;
}
.cta.cta-medical a.cta1_btn {
    padding: 13px 30px;
}
.sport1 img{
    width: 100%;
}
.sport-event .item img{
     width: 100%;
     padding-bottom: 30px;
}
.sport img{
     width: 100%;
}
.sport{
    margin-bottom: 30px;
}
.sport-video .video-content h4 {
    font-size: 35px;
}
.search-bar .form-control{
    padding-left: 5px;
    padding-right: 0;
}
.white-bg span {
    font-size: 9px;
}
.play-store {
    margin-left: 100px !important;
}
.manage .title{
    padding-top: 80px;
}
.manage img{
    padding-top: 50px;
}
button.subsnews{
    bottom: 0;
}
.screen1 img{
    width: 100%;
}
.app-store .master-apple{
    text-align: center;
    margin-bottom: 20px;
}
.app-store .master-apple img{
    float: none;
    margin: 0 auto;
}
.app-store .play-store{
    text-align: center;
    margin: 0px;
}
.app-store .play-store img{
    float: none;
    margin: 0 auto;
}
.right-column{
    padding-top: 50px;
    padding-bottom: 0;
}
.right-content {
    max-width: 100%;
}
.fact-box.col-md-3 {
    margin-right: 14px;
}
.client-logo1 img {
    padding-bottom: 30px;
}
.singup {
    bottom: 120px;
}
.img1 img{
    width: 100%;
}
.input-btn4{
    padding: 10px 10px;
}
.search-property .form-group.col-md-3 {
    padding-left: 0px;
}
.propery img{
    width: 100%;
}
.field-price{
    top: 370px;
}
ul.check-in li {
    padding-left: 15px;
    padding-right: 15px;
}
.featured img{
    width: 100%;
    padding-bottom: 35px;
}
.master-bg{
    width: 50%;
}
.Vehicles img{
    width: 100%;
}

.dealer .col-md-6 {
    padding-bottom: 30px;
}
h3.ms-layer.full-wid.car-head {
    right: 20px !important;
}
a.ms-layer.btn.btn-lg.btn-blue.fsize-big.margin-top2.car-btn {
    right: 20px !important;
}
p.ms-layer.car-bg {
    right: 20px !important;
}
.col-1-text {
    padding-top: 30px;
    padding-bottom: 40px;
}
.fashion-product figure img{
    width: 100%;
}
.fashion-overlay {
    bottom: 0px;
}
.fashion-block {
    padding-bottom: 30px;
}
.accesories:before {
    padding: 57px 0px;
}
a.form-btn {
    padding: 17px 3px;
    font-size: 13px;
}
ul.categories, .map iframe{
    margin-bottom: 30px;
}
.deal img{
    width: 100%;
}
.coupon-block h1{
    font-size: 15px;
}
.mobile-app .master-apple {
    text-align: center;
    margin-bottom: 15px;
}
.mobile-app .play-store {
    text-align: center;
    margin: 0px !important;
}
.mobile-app  .play-store img{
    float: none;
    margin: 0 auto;
}
.mobile-app  .master-apple img{
    float: none;
    margin: 0 auto;
}
.mobile-right h3{
    font-size: 29px;
}
.cta h3{
    margin-bottom: 25px;
}
.banner_bg .text-left{
    text-align: center;
    padding-bottom: 15px;

}
.banner_bg .text-right{
    text-align: center;
}
}
@media (min-width: 768px) {
    .main-content {
        padding-left: 220px;
        position: relative;
    }
    .main_content .container {
        width: 100%;
    }}
@media (min-width: 992px) {
   .left-menu .navbar-toggleable-md {
    -webkit-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset;
    -webkit-flex-wrap: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.left-menu .navbar-toggleable-md>.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-flex-wrap: unset;
    -ms-flex-wrap: unset;
    flex-wrap: unset;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.left-menu .navbar-toggleable-md .navbar-nav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
    .left-menu {
        width: 250px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 9999;
        border-right: 0;
        text-align: center;
        background-color: #ebebeb;
    }
    .left-menu .container {
        width: 100%;
        padding: 0px;
    }
    .left-menu .navbar-default .navbar-nav > li a,
    .left-menu .navbar-header {
        display: block;
        float: none;
    }
    .left-menu .navbar-default .navbar-brand {
        float: none;
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .left-menu .navbar-nav {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .left-menu .dropdown-menu {
        left: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
        background-color: #fff;
        border: 0px;
        min-width: 200px;
    }
    .left-menu .dropdown-menu > li > a {
        padding: 10px 20px;
    }
    .left-menu .navbar-nav > li > a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
}
@media(max-width:767px){

 
    .master_shape img {
    margin-top: -25px;
    margin-left: -9px;
    width: 300px;
}
#grid .item {
    position: relative !important; 
}

.logo_center #navbar {
    margin-left: 0;
}
.left-menu .navbar-nav{
    margin: 0px;
}
#sidebar-wrapper{
     background-color: #fff;
}
header.header .navbar-nav{
    background-color: #fff;
}

header.header .navbar-default .navbar-nav > li > a, .white-border .navbar-nav>.active>a, .white-border .navbar-nav>.active>a:focus, .white-border .navbar-nav>.active>a:hover, .white-border .navbar-nav>.active>a:hover, .white-border .navbar-nav > li > a:hover, .white-border .navbar-nav > li > a:focus {
   
    color: #202020 !important;
  
}
.left-menu .navbar-right .dropdown-menu{
    width: auto;
    overflow: visible;
    height: auto;
}
#sidebar-wrapper .navbar-nav{ margin-top:0px !important;}

.master-bg b {
    font-size: 14px;
}
.artist1, .artist1 img, .modImage img{
    width: 100%;
}
.center-hr7, .medical-para,  .medical-btn1, .medical-btn2 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.discount h5 bold, .platform h6, .medical-head bold, .model-head
{
    font-size: 35px;
}
.tab-image{
    float: none;
    margin: 0px;
}
.program_block img{
    width: 100%;
}
.call_us bold{
    font-size: 35px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.confrence-detail span {
display: block;
}
.car-bg span b {
    font-size: 20px;
    padding-bottom: 20px;
}
.call_us span{
    font-size: 32px;
}
.fact-box3 {
    margin-bottom: 20px;
}
.Vehicles .time {
    top: 23%;
}
.app-store .play-store {
    margin-left: 0px !important;
}
.master_agency ul li{
    font-size: 10px;
    line-height: 22px;
}
.master11_border{
    width: 75px;
}
    .top_bar{
        text-align: center;
    }
    .top_bar .col-sm-9.text-right {
    text-align: center !important;
}
header.header.header-v4 .navbar-default .navbar-nav > li > a{
    color: #fff;
    text-align: left;
}
  .header-v3 .navbar-nav{ background-color: transparent !important;}
section.launch_theme .title h5{
    font-size: 37px;
}

.keybord img{
    width: 100%;
    padding-bottom: 30px;
}
section.team_member img{
    width: 100%;
}
.logo_sidebar img{
       padding-left: 17px;
}
#wrapper{
    right: 15px;
}
.team_desc, .masonry-post img{
    width:100%;
}
.footer-bottom {
    text-align: center;
}
.col-md-5.text-right{
    text-align: center;
}
.fact-box i{
    float: none;
    margin-bottom: 15px;
}
section.counter.counter2 .fact-box {
    text-align: center;
}
.news-block {
    margin-bottom: 30px;
}
.project {
    margin-bottom: 30px;
}
.fact-box {
    margin-bottom: 20px;
}
.columns {
    margin-bottom: 30px;
}
.menu-filter-list{
    width: 100%;
}

.logo_center img {
    display: inherit;
    margin: auto;
    width: 140px;
}
.process{
    margin-top: 40px;
}
section.cta.subscibe{
    padding: 18px 0;
}
.main_content {
    padding-left:0px;
}
aside.left-menu .navbar-toggle{
    margin-top: -65px
}
aside.left-menu .navbar{
    min-height: 0px;
    padding: 0;
}
.master_para6, .master_head6, .master_agency {
    margin-left:0px !important;
}
.mastet6_border, .mastet6_btn {
    margin-left: 0px !important;
    margin-top: 50px !important;
}
.about2 h1{
    font-size: 50px;
}
.contact_info .title {
    margin-top: 30px;
}
.get bold{
    padding-bottom: 10px;
}
.contact02 button.submit {
    margin-bottom: 40px;
}
.contact03 button.submit{
   margin-bottom: 40px;
}
.attorney_right img{
    width:100%;
}
.title_master img {
    width: 200px;
}
.masonry-right button, html input[type=button], input[type=reset], input[type=submit] {
    bottom: 1037px;
}
.spa-features img{
    width: 100%;
}
.treatment-price{
    padding-bottom: 30px;
}
.causes img{
    width: 100%;
}
.card .nav>li>a {
    padding: 29px 5px;
}
.master5 img {
    width: 75px;
    margin: 0 auto;
}
.mastet6_border,  .mastet6_btn{
    margin-top: 80px !important;
}
.footer .col-sm-6.no-padding{
    padding-left: 15px !important;
}
.gym_testimonial p{
    font-size: 22px;  
}
.left-panel img{
    width: 100%;
}
.right-panel {
    padding-bottom: 30px;
}
.gallery img{
     width: 100%;
}
.registrey {
    padding-bottom: 40px;
}
.rsvp-form .form-group.col-md-6.col-sm-6 {
    padding: 0;
}
.rsvp-form  .form-group.col-md-12.pading-left {
    padding: 0;
}
.john {
    margin-left: 0;
}
.widget img{
    margin: 0 auto;
}
.reserve .col-md-8.col-sm-8.text-left {
    text-align: center;
    padding-bottom: 20px;
}
ul.delicious{
    padding-bottom: 0px;
}
.our-rasturent img{
    width: 100%;
}
.reserve .col-md-4.col-sm-4.text-right {
    text-align: center;
}
.construction-block img {
    width: 100%;
}
.team-overlay {
    height: 100%;
    top: 0;
}
.master16-head bold{
    font-size: 40px;
    padding-top: 15px;
}
.team-detail h5{
    font-size:  45px;
}
.team-detail span{
    font-size:  30px;
}
.timeline:before{
    left: 7px;
}
.timeline-badge{
    left: 4px;
}
.timeline .date{
    padding-bottom: 30px;
}
.contact-me .pading-left {
    padding-left: 15px !important;
}
.project-box img{
    width: 100%;
}
.portfolio-about img{
    width: 100%;
    padding-bottom: 30px;
}
.portfolio-about{
    padding-bottom: 100px;
}
.hospital img{
    width: 100%;
    margin-bottom: 30px;
}
.medical-video {
    text-align: center;
}
.medical-video h3 {
    padding-bottom: 20px;
}
#filter li{
    padding-bottom: 25px
}
.form-group.col-md-3 {
    padding-left: 0px;
}
.border-image img{
    width: 100%;
}
.border-image:before{
    height: 76%;
}
.border-image span:after {
    bottom: 20px;
}
.music-event img{
    width: 100%;
    padding-bottom: 30px;
}
.event-block{
    margin-bottom: 10px;
}
.img-right{
    top: 50px;
}
.search-bar .form-control{
    margin-bottom: 15px;
}
.search-bar .no-padding{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.white-bg span {
    font-size: 7px;
}
.phone4 {
    top: 0;
}
.info h2{
    padding-bottom: 30px;
}
.singup, .masonry-post {
    position: relative;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    left: 0;
    }
.sign-up .form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}
.img1 img{
    padding-bottom: 20px;
}
.tab-block1 img{
     width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.event-subtitle{
    font-size: 50px;
}
.master-bg{
    width: 80%;
}
.model-image{
    margin-top: -50px !important;
}
.fashion img{
    width: 100%;
}
.accesories .fashion-text
{
    position: relative;
    left: 15px;
}
a.form-btn{
    padding: 17px 25px;
    font-size: 15px;
}
.recent-coupons img{
    width: 100%;
}
.master-banner h4 strong {
    font-size: 50px;
}
.mobile-app{
    padding-top: 70px;
}
.portal-web {
    text-align: center;
}
.client12-logo img{ margin: 0 auto;}
}
@media(max-width:480px){
    .confrence-detail span{
        top: -15px;
        line-height:25px;
    }
    .Schedule .nav-tabs>li{ display: block;}
    .time {
    top: 22%;
}
.title h5{ font-size: 24px !important;}
.menu-filter-list li{ display: block;}
.travel_testimonial .title9 h2 {
    font-size: 25px;
}
    .medical-head bold {
    font-size: 15px;
    padding-top: 12px;
}
.for-sale{position: relative;
         top: -30px;
}
.master-bg small{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0;
}
.master-bg span{
    padding-top: 8px;
    padding-bottom: 5px;
}
    .master_img img {
    position: relative;
    top: -10px;
}
.master14-title, .master14-para, .master14-subtitle, .master14-btn, {
    margin-top: 200px;
}
.master14-image img,  .master_shape img, .title_master img{
    display: none;
}
    .title10 h1{
        font-size: 25px;
    }
    .about2 h1{
        font-size: 20px;
        letter-spacing: 13px;
    }.about2 p{
        font-size: 14px;
        line-height: 30px;
    }
    .master16-head bold{
        font-size: 25px;
    }
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum{
        font-size: 11px;
    }
    .construction-tab  .nav-tabs>li{
    float: none;
    text-align: center;
    margin-bottom: 10px;
    }
    .Ask_me span{
        line-height: 45px;
    }
    .Ask_me h2{
        font-size: 50px;
    }
    button.submit{
        padding: 13px 10px;
    }
a.cta2_btn{
    padding: 13px 15px;
}
a.cta1_btn{
     padding: 13px 15px;
}
.logo img{
    width: 140px;
}
.volunter img {
    float: none;
    padding-bottom: 20px;
}
.navbar-brand>img{
    width: 160px;
}
.gym_newslatter h6{
    font-size: 30px;
}
.title h4{
    font-size: 38px;
    line-height: 45px;
}
.upcoming h4{
    font-size: 22px;
}
.upcoming .rsvp-form {
    padding: 5px;
}
.team-detail h5 {
    font-size: 23px;
    padding-bottom: 10px;
}
.team-detail span {
    font-size: 17px;
     padding-bottom: 20px;
}
.profile-text p{
    font-size: 32px;
}
.profile-text h6, .profile-text b {
    font-size: 40px;
    padding-bottom: 20px;
}
.profile-text span{
    margin-top: 20px;
}
.panel-title {
    font-size: 12px;
}
.date {
    width: 50%;
}
span.address{
    font-size: 13px;
}
span.address a{
    font-size: 13px;
}
.border-image:before{
    height: 64%;
}

.border-image span:after {
    right: 20px;
    bottom: 15px;
}
.img-left{
    padding-top: 280px;
}
.btn-1 {
    display: block;
    margin-bottom: 15px;
}
.platform h6{
    font-size: 50px;
}
.newslatter-text h6{
    font-size: 34px;
}
.video-content h4{
    font-size: 25px;
    line-height: 40px;
}
.post1 h2{
    font-size: 15px;
}
.post1 span{
    font-size: 14px;
}
.fact-box.col-md-3 {
    width: 50%;
}
.right-content{
    padding-left: 0px;
}
.hamburger{
    top: 0;
}
.field-price {
    top: 110px;
}
.block-text span{
    font-size: 15px;
}
ul.check-in li a{
    padding-right: 3px;
}
ul.check-in li {
    padding-left: 0px;
    padding-right: 0px;
}
em.line{
    padding-left: 10px;
}
.travel_title h4{
    font-size: 30px;
}
.fashion-text h1 {
    letter-spacing: 0;
    font-size: 14px;
    line-height: 28px;
}
.fashion-icon{
    top: 20%;
}
.accesories:before {
    top: 17%;
}
.master-banner h4 strong, .widget h5 {
    font-size: 40px;
}
.master-banner h4{
    font-size: 35px;
}
.deal-title h2, .model-head, .model-para1{
   font-size: 25px;  
}
.flex-text{
    bottom: 0;
}
.flex-text h1{
    font-size: 11px;  
}
.flex-right{
    bottom: 0;
}
.flex-right bold {
    font-size: 20px;
    padding-bottom: 0;
}
.master_back{
    letter-spacing: 10px;
}
.master5 img{
    width: 50px;
}
.nav-tabs>li{ float:none;}
}

@media(max-width:320px){
    .bMobileorder-image:before{
    height: 59%;
    top: 56px;
}
    .ms-anim-layers{
        display: none;
    }
.border-image span:after {
    right: 12px;
    bottom: 6px;
}
.border-image:after{
    top: 57px;
}
.right-panel h2{
    font-size: 25px;
}
}
