<section class="align-bottom"  style="padding-bottom: 0px; bottom: 0; position:absolute;">
  <div class="footer-bottom footer10">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-8">
          <span>Copyright © 2016-2017 BOOSTER WP-THEME. All rights reserved.</span>
        </div>
        <div class="col-md-5 col-sm-4 text-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
